@use '../../style/globals' as globals;

.startStyle {
    height: 100vh;

}
    .menuDiv{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        padding: 0 1rem;
    }