@use '../../style/globals' as globals;

.menuBtn {
    background-color: globals.$color_blue;
    color: globals.$color_gray;
    font-family: "Tangerine", cursive;
    border: none;
    border-radius: 40px;
    width: 90%;
    aspect-ratio: 1/1;
    font-size: 27px;
    justify-self: center;
}