//Colors
$color_pink: #FFAFCC;
$color_blue: #8ACDEA;
$color_green: #E7EFC5;
$color_purple: #655A7C;
$color_gray: #545863;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap')