@use '../../style/globals' as globals;

.quoteStyle {
    display: flex;
    flex-direction: column;
    font-family: "Tangerine", cursive; 
    font-size: 27px;
    justify-self: center;

    p {
        text-align: center;
        margin: 10px;
        color: globals.$color_gray;
    }
}